.wrapper {
min-height: 100%;
overflow: hidden;
max-width: 1280px;
margin: 0 auto;
background-color: rgba(0, 0, 0, 0.0001);
text-align: center;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
}
/* navbar */
.navbar {
margin-top: 31px; 
}
.navbar-ul {
list-style-type: none;
padding: 0;
width: 100%;
margin: 0;
}
.navbar-li {
display: inline-block;
text-align: center;
font-size: 18px;
line-height: 18px;
padding-top: 5px;
padding-bottom: 4px;
margin-left: 60px;
}
.navbar-li-home {
padding-left: 5px;
padding-right: 4px;
}
.navbar-li-a {
color: #FF0000;
text-decoration: none;
}
.navbar-li-photoapp {
padding-left: 11px;
padding-right: 12px;
margin-left: 61px;
}
.navbar-li-download {
padding-left: 11px;
padding-right: 10px;
margin-left: 39px;
}
/* header-photo */

.header-photo {
display: inline-block;
width: 1280px;
margin-left: 0;
margin-top: 25px;
}
/* main */
.main {
margin-top: 1px;
background: rgba(0, 0, 0, 0.0001);
text-align: -webkit-center;

}
.h2 {
margin-top: 48px;
margin-bottom: 38px;
line-height: 27px;
letter-spacing: 3.3px;
text-transform: uppercase;
padding-top: 1px;
padding-bottom: 1px;

color: #373737;
}
.main-paragraph {
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
margin: 0;
    
color: #373737;
width: 1145px;
}
.main-first-paragraph {
padding-top: 1px;
padding-bottom: 1px;

}
.main-second-paragraph {
padding-top: 4px;
padding-bottom: 4px ;
margin-top: 28px;
}
/*button*/
 
.button {
padding: 19px 0px;
border: none;
text-decoration: none;
font-size: 11px;
line-height: 12px;   
letter-spacing: 1.8px;
text-transform: uppercase;
background-color: red;    
color: #FFFFFF;  
cursor: pointer;  
margin-top: 66px;
display: block;
width: 191px;
border-radius: 4px;
}
/* footer */

.footer {
text-align: right;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;

color: #373737;
margin-top: 82px;
margin-bottom: 29px;
padding-right: 105px;
}
